*{
  margin: none;
  padding: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{

    background:url("img/FONDO1.png") no-repeat;
      background-size: 110%;
     margin:none;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: sans-serif;

}

.container {

   display:flex ;
   justify-content: center;

    }

    .text{

color:#2378b6;

    }

    .primary{

      display: flex;
      background-color: #41a7f5;
      color: white;
      padding: 15px 20px;
      border: none;
      border-radius: 100px;
      border-bottom: 100px;
      width: 30px;
    
      height: 40px;
      transition: background-color 0.5s;

    }
    .primary:hover{

      background-color: #1477d2;

    }
 
}
    .button {
     
      display:flex ;
      background-color: #41a7f5;
      color: white;
      padding: 15px 20px;
      border: none;
      border-radius: 5px;
      width: auto;
      height: auto;
      font-size: 0.9em;
      cursor: pointer;
      position: relative;
      transition: background-color 0.5s;
    }

    .button:hover {
      background-color: #1477d2;
    }

  